# Levels
Levels/developer_levels/
Levels/developer_levels.meta

# Lods
ReMap/Lods - Dont use these/Developer_Lods/
ReMap/Lods - Dont use these/Developer_Lods.meta
ReMap/Lods - Dont use these/Developer_Mats/
ReMap/Lods - Dont use these/Developer_Mats.meta
ReMap/Lods - Dont use these/Materials/Unity/bbSheild.mat
ReMap/Lods - Dont use these/Materials/Unity/bbSheildp4.mat
ReMap/Lods - Dont use these/Materials/Unity/triggermat.mat

# Prefabs
Prefabs/developer_prefabs/
Prefabs/developer_prefabs.meta

# Visual Studio
/.vs
ReMap/Resources/startupconfig.json
ReMap/Resources/startupconfig.json.meta
ReMap/Plugins/EditorThemes/Editor/StyleSheets/Extensions/dark.uss
ReMap/Plugins/EditorThemes/Editor/StyleSheets/Extensions/light.uss
ReMap/Plugins/EditorThemes/Editor/StyleSheets/Extensions/dark.uss
ReMap/Plugins/EditorThemes/Editor/StyleSheets/Extensions/light.uss

# Updater
ReMapUpdater*.exe*

# Additional Code
ReMap/Resources/AdditionalCode/AdditionalCode.json
ReMap/Resources/AdditionalCode/AdditionalCode.json.meta

# Developer Only
ReMap/Resources/DeveloperOnly/
ReMap/Resources/DeveloperOnly.meta

# Legion Plus
ReMap/LegionPlus/exported_files/
ReMap/LegionPlus/exported_files.meta
ReMap/LegionPlus/logs/
ReMap/LegionPlus/logs.meta
