# Levels
Levels/Floppytown.unity
Levels/Floppytown.unity.meta
Levels/ImportedMaps.meta
Levels/surf_kitsune.obj
Levels/surf_kitsune.obj.meta
Levels/surf_kitsune.unity
Levels/surf_kitsune.unity.meta
Levels/ImportedMaps/surf_kitsune.unity.meta
Levels/ImportedMaps/surf_kitsune.unity
Levels/ImportedMaps/surf_kitsune.obj.meta
Levels/ImportedMaps/surf_kitsune.obj
Levels/Zipline Level.unity.meta
Levels/Zipline Level.unity

# Lods
Lods - Dont use these/Personal_Lods/
Lods - Dont use these/Personal_Lods.meta

# Prefabs
Prefabs/personal_prefabs/
Prefabs/personal_prefabs.meta
