# Levels
Levels/developer_levels/
Levels/developer_levels.meta

# Lods
ReMap/Lods - Dont use these/Developer_Lods/
ReMap/Lods - Dont use these/Developer_Lods.meta

# Prefabs
Prefabs/developer_prefabs/
Prefabs/developer_prefabs.meta

# Visual Studio
/.vs
ReMap/Resources/startupconfig.json
ReMap/Resources/startupconfig.json.meta
ReMap/Plugins/EditorThemes/Editor/StyleSheets/Extensions/dark.uss
ReMap/Plugins/EditorThemes/Editor/StyleSheets/Extensions/light.uss
ReMap/Plugins/EditorThemes/Editor/StyleSheets/Extensions/dark.uss
ReMap/Plugins/EditorThemes/Editor/StyleSheets/Extensions/light.uss

# Updater
ReMapUpdater*.exe*
